.main {
  margin-top: 50px;
}

.form-control {
  margin-bottom: 5px;
}

.jumbotron {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.modal-body {
  overflow-x: auto;
}
