<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{ $ctrl.title }}</h3>
</div>

<div class="modal-body" id="modal-body">
  <form name="authorForm">
    <input class="form-control" type="text" ng-model="$ctrl.firstName" placeholder="Author First Name" required />
    <input class="form-control" type="text" ng-model="$ctrl.lastName" placeholder="Author Last Name" required />
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()" ng-disabled="authorForm.$invalid">Save</button>
  <button class="btn btn-primary" type="button" ng-show="!$ctrl.isOnlyOk" ng-click="$ctrl.cancel()">Cancel</button>
</div>
