
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
			<h2>Books</h2>
		</div>
		<div class="col-sm-6">

			<div class="input-group h2">
				<input ng-model='criteriaSearch' name="data[search]" class="form-control" id="search" type="text" placeholder="Search">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="submit" ng-click="$ctrl.getBooks()">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>

		</div>
    <div class=".col-xs-6 .col-md-4">
      <button type="button" class="btn btn-primary pull-right h2" ng-click="$ctrl.insertBook(book)">New Book</button>
    </div>
  </div>
</div>

<div class="container">

  <div class="table-responsive">
    <table class='table table-hover'>
      <tr>
        <th>Title</th>
        <th class="actions">Actions</th>
      </tr>
      <tr ng-repeat="book in $ctrl.books | filter:criteriaSearch | orderBy:'title'">
        <td>{{book.title}}</td>
        <td class="actions">
          <a class="btn btn-primary btn-xs" ng-click="$ctrl.updateBook(book)">Edit</a>
          <a class="btn btn-danger btn-xs"  ng-click="$ctrl.deleteBook(book)" >Delete</a>
        </td>
      </tr>
    </table>
  </div>
</container>
